body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin-left: 6em;
    display: flex;
    align-items: center;
    gap: 6em;
}

#logo{
    margin-top: 1em;
}

a {
    text-decoration: none;
    text-align: center;
    padding: 3em;
    color: rgb(50, 99, 99);
}

a:hover{
    color: rgb(235, 60, 232);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}


.navigation{
    
   border: 1px solid grey;
   border-radius: 10em;
   box-shadow:0.2rem 0.2rem 0.5rem rgb(50, 99, 99) ;
   padding: 1em;
   margin-left: 11em;
   
}

.logins{
    font-size: 1.3em;
    padding: 0.1em;
}

#login{
    margin-left: 8em;
}


strong{
    color:rgb(50, 99, 99) ;
}

.mainpage{
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 2em;
}

#description{
    padding-top: 2em;
    text-align:center;
    font-weight: 300;
}

#paragraph{
    color: rgb(71, 68, 68);
    font-size: 0.5em;
    font-weight: lighter;
    text-align: center;
    font-size: 3vh;
}

.try-now{
    border: 0.1em solid transparent;
    border-radius: 10em;
    background-color:rgb(50, 99, 99) ;
    box-shadow: 0.2em 0.2em 0.4em grey;
    color: white;
    margin-left: 40em;
    font-size: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.try-now:hover{
    cursor: pointer;
    color: rgb(235, 60, 232);
    transition: 0.5s ease-in-out;
}

#team-collab{
    margin-left: 8em;
}

.about{
    background: rgb(198, 223, 223) ;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0.2em 0.2em 0.6em rgb(50, 99, 99);
    padding-bottom: 2em;
}


#about-content{
    margin-left: 2em;
    padding: 2em;
    display: flex;
    flex-direction: row;
}

#about-paragraph{
    color: rgb(39, 58, 58) ;
    margin-top: 5em;
    padding: 1em;
    margin: 2em;
    text-align: center;
    font-size: 2em;
}

#about-img{
    border: 1px solid transparent;
    border-radius: 20%;
    box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(42, 83, 83);
}

#about-title{
    font-size: 5vh;
}


.keyfeatures-heading{
    font-size: 4vh;
    padding-top: 2em;
    text-align: center;
}

b{
    color: rgb(50, 99, 99) ;
}

.key-features{
    color: rgb(47, 85, 85) ;
    display: inline-block;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 2em;
    border: 0.1em solid transparent;
    border-radius: 20%;
    box-shadow: 0.5em 0.5em 0.5em rgb(50, 99, 99);
}

.key-features:hover{
    color: white;
    background: rgb(50, 99, 99) ;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.tickit-flow{
    background: rgb(198, 223, 223) ;
    padding-top: 4em ;
    padding-bottom: 2em;
}

.benefits{
    margin: 2em 4em 2em 2.6em;
    color: rgb(47, 85, 85) ;
    background-color: rgb(249, 246, 246);
    padding: 1em;
    display: inline-block;
    flex-direction: row;
    border: 1px solid transparent;
    border-radius: 20%;
    box-shadow: 0.5em 0.5em 0.5em rgb(50, 99, 99);
}

.benefits:hover{
    color: white;
    background: rgb(50, 99, 99) ;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.flow-heading{
    font-size: 5vh;
    text-align: center;
}

.call-to-action{
    
    text-align: center;
  
}

#callto-action-par{
    font-size: 3vh;
    margin: 1em;
    padding-bottom: 2em;
    color: rgb(37, 62, 62);
}

.get-started,.signup-free{
    color: rgb(45, 62, 62);
    border: 0.1em solid transparent;
    border-radius: 10%;
    box-shadow: 0.5em 0.5em 0.5em 0.2em rgb(50, 99, 99);
    padding: 1.2em;
    margin: 1em;
    background-color:rgb(198, 223, 223) ;
    font-size: 2.5vh;
    font-weight: 600;
}

.social-links{
    padding: 6em;
}

#social-par{
    color: rgb(37, 62, 62);
    font-size: 3vh;
    font-weight:600;
}

footer{
    text-align: center;
    background-color: rgb(224, 234, 234);
}

.footer-content{
    font-size: 0.9em;
    padding: 0;
    margin: 1em;
}

#copyright{
    font-size: 0.9em;
    padding-top: 1em;
}

@media screen and (max-width: 900px){
    header{
        margin-left: 1em;
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
        text-align: center;
        padding: 1em;
        color: rgb(50, 99, 99);
    }

    .navigation{
    
        border: 1px solid grey;
        border-radius: 10em;
        box-shadow:0.2rem 0.2rem 0.5rem rgb(50, 99, 99) ;
        padding: 1em;
        margin-left: 1.6em;
        
     }
     
     .logins{
         font-size: 1.3em;
         padding: 0.1em;
     }
     
     #login{
         margin-left: 0.4em;
     }

     .mainpage{
        display: flex;
        justify-content: center;
        padding: 0;
        font-size: 2em;
    }
    
    #description{
        padding-top: 2em;
        text-align:center;
        font-weight: 300;
    }
    
    #paragraph{
        color: rgb(71, 68, 68);
        font-weight: lighter;
        text-align: center;
        font-size: 2vh;
    }
    
    .try-now{
        border: 0.1em solid transparent;
        border-radius: 10em;
        background-color:rgb(50, 99, 99) ;
        box-shadow: 0.2em 0.2em 0.4em grey;
        color: white;
        margin: 20em;
        font-size: 0.5em;
        padding: 0.8em;
    }

    #team-collab{
        margin-left: 5em;   
    }
    
    .about{
        background: rgb(198, 223, 223) ;
        text-align: center;
        border: 1px solid transparent;
        box-shadow: 0.2em 0.2em 0.6em rgb(50, 99, 99);
        padding-bottom: 2em;
        margin-top: 4em;
    }
    
    
    #about-content{
        margin-left: 2em;
        padding: 1em;
        display: flex;
        flex-direction: row;
    }
    
    #about-paragraph{
        color: rgb(39, 58, 58) ;
        padding: 1em;
        margin: 1em;
        text-align: center;
        font-size: 1.6em;
    }
    
    #about-img{
        border: 1px solid transparent;
        border-radius: 20%;
        box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(42, 83, 83);
    }
    
    #about-title{
        font-size: 5vh;
    }

    .keyfeatures-heading{
        font-size: 3.5vh;
        padding-top: 0.5em;
        text-align: center;
    }
    
    
    .key-features{
        color: rgb(47, 85, 85) ;
        display: flex;
        align-items: center;
        margin-top: 1em;
        margin-bottom: 3em;
        margin-left: 2.5em;
        padding: 1em;
        border: 0.1em solid transparent;
        border-radius: 20%;
        box-shadow: 0.5em 0.5em 0.5em rgb(50, 99, 99);
    }
    
    .key-features:hover{
        color: white;
        background: rgb(50, 99, 99) ;
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
    }

    .key-features h3{
        font-size: 2vh;
    }
    
    .key-features p{
        font-size: 1.5vh;
        text-align: center;
    }

    .features-icons{
       width: 20%;
    }

    .flow-heading h3{
        padding: 0;
    }
    
    .benefits{
        color: rgb(47, 85, 85) ;
        background-color: rgb(249, 246, 246);
        padding: 2em;
        display: flex;
        flex-direction: row;
        border: 1px solid transparent;
        border-radius: 10%;
        box-shadow: 0.5em 0.5em 0.5em rgb(50, 99, 99);
    }

    .tickit-flow{
        padding-top: 1em;
    }

    .tickit-flow p{
        font-size: 1.5vh;
    }

    #callto-action-par{
        font-size: 2.5vh;
        margin: 1em;
        padding-bottom: 2em;
        color: rgb(37, 62, 62);
    }
    
    .get-started,.signup-free{
        color: rgb(45, 62, 62);
        border: 0.1em solid transparent;
        border-radius: 10%;
        box-shadow: 0.5em 0.5em 0.5em 0.2em rgb(50, 99, 99);
        padding: 0.5em;
        background-color:rgb(198, 223, 223) ;
        font-size: 2vh;
        font-weight: 600;
    }
    
    .social-links{
        padding: 2em;
    }

    .social-links a{
        font-size: 1.5vh;
    }
    
    #social-par{
        color: rgb(37, 62, 62);
        font-size: 2vh;
        font-weight:600;
    }

    
    footer{
        text-align: center;
        background-color: rgb(224, 234, 234);
    }

    .footer-content{
        font-size: 1.6vh;
        padding: 0;
        margin: 1em;
    }

    #copyright{
        font-size: 1.6vh;
        padding-top: 1em;
    }

}

@media screen and (max-width: 480px){
    header{
        display: flex;
        align-items: center;
        gap: 0.1em;
    }

    a {
        text-decoration: none;
        text-align: center;
        padding: 0.3em;
        color: rgb(50, 99, 99);
    }

    .navigation{
        border: 1px solid transparent;
        border-radius: 10em;
        box-shadow:0.2rem 0.2rem 0.5rem rgb(50, 99, 99) ;
        padding: 0.2em;
        display: flex;
        flex-direction: row;
        
     }
     
    .logins{
        font-size: 2vh;
        padding: 1em;
        font-weight: 600;
        text-decoration: underline;
    }

    #join{
        display: none;
    }
     

       
    .mainpage{
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        font-size: 1em;
    }
    
    #description{
        padding-top: 1em;
        text-align:center;
        font-weight: 300;
    }
    
    #paragraph{
        color: rgb(71, 68, 68);
        font-weight: lighter;
        text-align: center;
        font-size: 2vh;
    }
    
    

    #team-collab{
        margin-bottom: 1em;
        margin-left: 4.5em;   
    }

    .try-now{
        border: 0.1em solid transparent;
        border-radius: 10em;
        background-color:rgb(50, 99, 99) ;
        box-shadow: 0.2em 0.2em 0.4em grey;
        color: white;
        display: flex;
        flex-direction: column;
        margin:0 0 0 20em ;
        width: fit-content;
        font-size: 0.5em;
        padding: 0.8em;
    }
    
    .about{
        background: rgb(198, 223, 223) ;
        text-align: center;
        border: 1px solid transparent;
        box-shadow: 0.2em 0.2em 0.6em rgb(50, 99, 99);
        padding-bottom: 1em;
    }
    
    
    #about-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        margin-right: 2em;
    }
    
    #about-paragraph{
        color: rgb(39, 58, 58) ;
        padding: 0.2em;
        margin: 0.5em;
        text-align: center;
        font-size: 1.2em;
    }
    
    #about-img{
        width: 50%;
        border: 1px solid transparent;
        border-radius: 20%;
        box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(42, 83, 83);
    }
    
    #about-title{
        padding-top: 0;
        font-size: 3vh;
    }

    .keyfeatures-heading{
        font-size: 2vh;
        padding-top: 0.5em;
        text-align: center;
    }
    
    
    .key-features{
        color: rgb(47, 85, 85) ;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1em;
        margin-bottom: 2em;
        margin-left: 0.2em;
        padding: 2em;
        gap: 1em;
        border: 0.1em solid transparent;
        border-radius: 20%;
        box-shadow: 0.5em 0.5em 0.5em rgb(50, 99, 99);
    }
    
    .key-features:hover{
        color: white;
        background: rgb(50, 99, 99) ;
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
    }

    .key-features h3{
        font-size: 2vh;
    }
    
    .key-features p{
        font-size: 1.5vh;
        text-align: center;
    }

    .features-icons{
       display: none;
    }

    .flow-heading h3{
        padding: 0;
    }
    
    .benefits{
        color: rgb(47, 85, 85) ;
        background-color: rgb(249, 246, 246);
        padding: 0.2em;
        margin: 0.5em;
        gap: 2em;
        text-align: center;
        display: flex;
        flex-direction: row;
        border: 1px solid transparent;
        border-radius: 10%;
        box-shadow: 0.5em 0.5em 0.5em rgb(50, 99, 99);
    }

    .benefits-img{
        display: none;
    }

    .tickit-flow{
        padding-top: 1em;
    }

    .tickit-flow p{
        font-size: 2vh;
    }

    #callto-action-par{
        font-size: 2vh;
        margin: 1em;
        padding-bottom: 0.5em;
        color: rgb(37, 62, 62);
    }
    
    .signup-free{
        display: inline-block;
        flex-direction: row;
        color: rgb(45, 62, 62);
        border: 0.1em solid transparent;
        border-radius: 10%;
        box-shadow: 0.5em 0.5em 0.5em 0.2em rgb(50, 99, 99);
        padding: 0.5em;
        background-color:rgb(198, 223, 223) ;
        font-size: 2vh;
        font-weight: 600;
    }
    
   

    .social-medias{
        display: inline-block;
        flex-direction: column;
        width: 40%;
    }

    
}