body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


header {
    margin: 2em 6em;
    display: flex;
    align-items: center;
    gap: 6em;
}


a {
    text-decoration: none;
    padding: 1em 3em;
    color: rgb(50, 99, 99);
}


a:hover {
    color: rgb(235, 60, 232);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}


.navigation {

    border: 1px solid grey;
    border-radius: 10em;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(50, 99, 99);
    padding: 1em;
    margin-left: 9em;
}


.logins {
    font-size: 1.6em;
    padding: 0.1em;
}

#login {
    margin-left: 6em;
}


strong {
    color: rgb(50, 99, 99);
}

.mainpage {
    display: flex;
    justify-content: center;
    padding: 0;
}

#description {
    padding-top: 2em;
    text-align: center;
    font-weight: 300;
    font-size: 3em;
}

#paragraph {
    color: rgb(71, 68, 68);
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    
}

.try-now {
    border: 0.1em solid transparent;
    border-radius: 10em;
    background-color: rgb(50, 99, 99);
    box-shadow: 0.2em 0.2em 0.4em grey;
    color: white;
    margin-left: 40em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.try-now:hover {
    cursor: pointer;
    color: rgb(235, 60, 232);
    transition: 0.5s ease-in-out;
}

#team-collab {
    margin-left: 18em;
    margin-bottom: 4em;
    border: 1px solid transparent;
}

.about {
    background: rgb(198, 223, 223);
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0.2em 0.2em 0.6em rgb(50, 99, 99);
    padding-bottom: 2em;
}


#about-content {
    margin-left: 2em;
    padding: 2em;
    display: flex;
    flex-direction: row;
}

#about-paragraph {
    color: rgb(39, 58, 58);
    margin-top: 5em;
    padding: 1em;
    text-align: center;
    font-size: 2em;
}

#about-img {
    border: 1px solid transparent;
    border-radius: 20%;
    box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(42, 83, 83);
}

#about-title {
    font-size: 2.8em;
}


.keyfeatures-heading {
    font-size: 2.4em;
    text-align: center;
}

b {
    color: rgb(50, 99, 99);
}

.key-features {
    color: rgb(47, 85, 85);
    display: inline-block;
    flex-direction: column;
    margin: 2em 0 2em 2em;
    border: 0.1em solid transparent;
    border-radius: 20%;
    box-shadow: 0.5em 0.5em 0.5em rgb(50, 99, 99);
}

.key-features:hover {
    color: white;
    background: rgb(50, 99, 99);
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.taskit-features p,
h3 {
    text-align: center;
}

.features-icons {
    padding: 2em;
    width: 30%;
}

.tickit-flow {
    background: rgb(198, 223, 223);
    padding-top: 2em;
    padding-bottom: 1em;
}

.benefits {
    margin: 2em 2.2em;
    color: rgb(47, 85, 85);
    background-color: rgb(249, 246, 246);
    padding: 2em;
    display: inline-block;
    flex-direction: row;
    border: 1px solid transparent;
    border-radius: 20%;
    box-shadow: 0.5em 0.5em 0.5em rgb(50, 99, 99);
}

.benefits:hover {
    color: white;
    background: rgb(50, 99, 99);
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.flow-heading {
    font-size: 30pt;
    text-align: center;
}

.call-to-action {
    text-align: center;
}

#callto-action-par {
    font-size: 1.5em;
    margin: 1em;
    padding-bottom: 2em;
    color: rgb(37, 62, 62);
}

.get-started,
.signup-free {
    color: rgb(45, 62, 62);
    border: 0.1em solid transparent;
    border-radius: 10%;
    box-shadow: 0.5em 0.5em 0.5em 0.2em rgb(50, 99, 99);
    padding: 1.2em;
    margin: 1em;
    background-color: rgb(198, 223, 223);
    font-size: 1em;
    font-weight: 600;
}

.social-links {
    padding: 6em;
}

#social-par {
    color: rgb(37, 62, 62);
    font-size: 1.2em;
    font-weight: 600;
}

footer {
    text-align: center;
    background-color: rgb(224, 234, 234);
}

.footer-content {
    font-size: 1em;
    padding: 0;
    margin: 1em;
}

#copyright {
    font-size: 1em;
    padding-top: 1em;
}

@media screen and (max-width: 820px) {
    header {
        margin: 2em 2em;
        display: flex;
        align-items: center;
        gap: 3em;
    }

    a {
        text-decoration: none;
        padding: 1em 3em;
        color: rgb(50, 99, 99);
    }


    a:hover {
        color: rgb(235, 60, 232);
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }


    .navigation {

        border: 1px solid grey;
        border-radius: 10em;
        box-shadow: 0.2rem 0.2rem 0.5rem rgb(50, 99, 99);
        padding: 1em;
        display: flex;
        margin-left: 0;
    }

    .logins {
        text-decoration: underline;
        font-size: 2em;
    }

    #login {
        margin-left: 0;
    }

    #join {
        display: none;
    }

    strong {
        color: rgb(50, 99, 99);
    }

    .mainpage {
        display: flex;
        justify-content: center;
        padding-bottom: 4em;
    }

    #description {
        padding-top: 1em;
        text-align: center;
        font-weight: 300;
        font-size: 3em;
    }

    #paragraph {
        color: rgb(71, 68, 68);
        font-size: 0.5em;
        font-weight: lighter;
        text-align: center;
        font-size: 1.6em;
    }

    .try-now {
        border: 0.1em solid transparent;
        border-radius: 10em;
        background-color: rgb(50, 99, 99);
        box-shadow: 0.2em 0.2em 0.4em grey;
        color: white;
        margin-left: 18em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .try-now:hover {
        cursor: pointer;
        color: rgb(235, 60, 232);
        transition: 0.5s ease-in-out;
    }

    #team-collab {
        margin-left: 10em;
        margin-bottom: 2em;
        border: 1px solid transparent;
    }

    .about {
        background: rgb(198, 223, 223);
        text-align: center;
        border: 1px solid transparent;
        box-shadow: 0.2em 0.2em 0.6em rgb(50, 99, 99);
        padding-bottom: 2em;
    }


    #about-content {
        margin-left: 2em;
        padding: 2em;
        display: flex;
        flex-direction: row;
    }

    #about-paragraph {
        color: rgb(39, 58, 58);
        margin-top: 2em;
        padding: 1em;
        text-align: center;
        font-size: 1.6em;
    }

    #about-img {
        border: 1px solid transparent;
        border-radius: 20%;
        box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(42, 83, 83);
    }

    #about-title {
        font-size: 2.5em;
    }


    .keyfeatures-heading {
        font-size: 25pt;
        text-align: center;
    }

    b {
        color: rgb(50, 99, 99);
    }

    .key-features {
        color: rgb(47, 85, 85);
        display: inline-block;
        flex-direction: column;
        margin: 2em 0 2em 2em;
        border: 0.1em solid transparent;
        border-radius: 20%;
        box-shadow: 0.5em 0.5em 0.5em rgb(50, 99, 99);
    }

    .key-features:hover {
        color: white;
        background: rgb(50, 99, 99);
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
    }

    .taskit-features p,
    h3 {
        text-align: center;
    }

    .taskit-features h3 {
        font-size: 1.5em;
    }

    .features-icons {
        padding: 2em;
        width: 30%;
    }

    .tickit-flow {
        background: rgb(198, 223, 223);
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .benefits {

        margin: 2em;
        display: flex;
        color: rgb(47, 85, 85);
        background-color: rgb(249, 246, 246);
        border: 1px solid transparent;
        border-radius: 20%;
        box-shadow: 0.5em 0.5em 0.5em rgb(50, 99, 99);
    }

    .benefits:hover {
        color: white;
        background: rgb(50, 99, 99);
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
    }

    .benefits-img {
        width: 30%;
        padding: 2em;
    }

    .benefits h3 {
        font-size: 1.5em;
    }

    .benefits p {
        font-size: 15pt;
    }

    .flow-heading {
        font-size: 3em;
        text-align: center;
    }

    .social-links {
        padding: 2em;
    }

    .social-medias {
        display: inline-block;
        justify-content: center;
        flex-wrap: wrap;

    }

    #social-par {
        color: rgb(37, 62, 62);
        font-size: 1.5em;
        font-weight: 600;
    }

    footer {
        text-align: center;
        background-color: rgb(224, 234, 234);
    }

    .footer-content {
        font-size: 1.4em;
        padding: 0;
        margin: 1em;
    }

    #copyright {
        font-size: 1.3em;
        padding-top: 1em;
    }


}

@media screen and (max-width: 480px) {
    header {
        margin: 1em;
        display: flex;
        align-items: center;
        gap: 2em;
    }

    a {
        text-decoration: none;
        padding: 0.1em;
        color: rgb(50, 99, 99);
    }


    a:hover {
        color: rgb(235, 60, 232);
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }


    .navigation {
        border: 1px solid grey;
        border-radius: 10em;
        box-shadow: 0.2rem 0.2rem 0.5rem rgb(50, 99, 99);
        padding: 0.5em;
        gap: 1em;
    }

    .logins {
        text-decoration: underline;
        font-size: 1.5em;
    }

    .mainpage {
        padding-bottom: 6em;
    }


    #description {
        padding-top: 1em;
        text-align: center;
        font-weight: 300;
        font-size: 1.8em;
    }

    #paragraph {
        color: rgb(71, 68, 68);
        font-size: 0.9em;
        font-weight: lighter;
        text-align: center;
    }

    .try-now {
        border: 0.1em solid transparent;
        border-radius: 10em;
        background-color: rgb(50, 99, 99);
        box-shadow: 0.2em 0.2em 0.4em grey;
        color: white;
        margin-left: 9em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .try-now:hover {
        cursor: pointer;
        color: rgb(235, 60, 232);
        transition: 0.5s ease-in-out;
    }

    #team-collab {
        margin-left: 5em;
        margin-bottom: 2em;
        border: 1px solid transparent;
    }



    #about-content {
        padding: 1em;
    }

    #about-paragraph {
        font-size: 1em;
    }

    #about-img {
        border: 1px solid transparent;
        border-radius: 20%;
        box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(42, 83, 83);
    }

    #about-title {
        font-size: 2em;
    }


    .keyfeatures-heading {
        font-size: 1.5em;
        text-align: center;
    }


    .key-features {
        color: rgb(47, 85, 85);
        display: flex;
        flex-direction: row;
        gap: 1em;
        margin: 0.5em;
        border: 0.1em solid transparent;
        border-radius: 20%;
        box-shadow: 0.5em 0.5em 0.5em rgb(50, 99, 99);
    }

    .key-features:hover {
        color: white;
        background: rgb(50, 99, 99);
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
    }

    .taskit-features p,
    h3 {
        text-align: center;
    }

    .taskit-features h3 {
        font-size: 1.2em;
    }

    .features-icons {
        display: none;
    }

    .tickit-flow {
        background: rgb(198, 223, 223);
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .benefits {
        margin: 1em;
        display: flex;
        gap: 1em;
        color: rgb(47, 85, 85);
        background-color: rgb(249, 246, 246);
        border: 1px solid transparent;
        border-radius: 20%;
        box-shadow: 0.5em 0.5em 0.5em rgb(50, 99, 99);
    }

    .benefits:hover {
        color: white;
        background: rgb(50, 99, 99);
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
    }

    .benefits-img {
        display: none;
    }

    .benefits h3 {
        font-size: 1em;
    }

    .benefits p {
        font-size: 1em;
    }

    .flow-heading {
        font-size: 2em;
    }


    #callto-action-par {
        font-size: 1.2em;
        margin: 1em;
    }


    .get-started,
    .signup-free {
        margin: 0.2em;
        padding: 0.6em;
        font-size: 0.8em;
    }

    #social-par {
        font-size: 1em;
    }

    footer {
        text-align: center;
        background-color: rgb(224, 234, 234);
    }

    .footer-content {
        font-size: 1.2em;
        padding: 0;
        margin: 1em;
    }

    #copyright {
        font-size: 1.2em;
        padding-top: 1em;
    }
}



